*,
html {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 20px;
	background: linear-gradient(180deg, #f8f8f8 0%, #f2f1ef 100%);
	overflow-x: hidden;
}

.container {
	max-width: 1968px;
	margin: 0 auto;
	padding: 0 34px;
}

.header {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0.7) 100%
	);
}

.header__wrapper {
	position: relative;
	overflow: hidden;
}

.header-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	display: block;
}

.header__inner {
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-self: stretch;
	justify-content: space-between;
}

.header__menu {
	display: flex;
	justify-content: flex-end;
}
.header__menu-link {
	color: #fff;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	line-height: 120%;
}

.header__menu-link + .header__menu-link {
	margin-left: 50px;
}

.header__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 200px;
	font-weight: 500;
	color: #dcc27c;
	text-transform: uppercase;
	display: flex;
}

.header__title span {
	opacity: 0;
	transform: translateY(20px);
	display: inline-block;
}

.space {
	margin-right: 20px;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.header__title span:nth-child(1) {
	animation-delay: 0s;
}
.header__title span:nth-child(2) {
	animation-delay: 0.1s;
}
.header__title span:nth-child(3) {
	animation-delay: 0.2s;
}
.header__title span:nth-child(4) {
	animation-delay: 0.3s;
}
.header__title span:nth-child(5) {
	animation-delay: 0.4s;
}
.header__title span:nth-child(6) {
	animation-delay: 0.5s;
}
.header__title span:nth-child(7) {
	animation-delay: 0.6s;
}
.header__title span:nth-child(8) {
	animation-delay: 0.7s;
}
.header__title span:nth-child(9) {
	animation-delay: 0.8s;
}

.header__blockquote {
	color: #fff;
	font-family: 'Montserrat';
	font-size: 32px;
	font-style: italic;
	font-weight: 400;
	line-height: 130%;
	margin-left: 155px;
	opacity: 0;
	text-indent: 165px;
	transition: all 0.3s;
	display: inline-block;
}

.header__authors p {
	color: rgba(255, 255, 255, 0.5); /* Всі автори напівпрозорі */
	transform: translateX(-100%); /* Початкове положення (зліва) */
	opacity: 0;
	transition: color 1s ease-in-out, transform 1s ease-in-out;
}

.header__authors p.active {
	color: white; /* Активний автор стає білим */
	transform: translateX(0); /* Виїжджає в центр */
	opacity: 1;
}

.header__authors p + p {
	margin-top: 15px;
}

.header__author {
	color: #646161;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
}

.decision {
	overflow: hidden;
}

.decision__img {
	border-radius: 20px 0 0 20px;
	margin-right: -34px;
}

.decision__inner {
	padding: 150px 0;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.decision__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.decision__title span {
	padding-inline-start: 125px;
}

/* Початковий стан: лінія має ширину 0% */
.decision-border {
	width: 0;
	height: 2px;
	background: #dcc27c;
	transition: width 1.5s ease-out;
	display: block;
	padding-right: 0;
}

/* Коли лінія в полі зору */
.visible-border {
	width: 100%;
}

/* Коли лінія в полі зору */
.visible-border {
	width: 100%;
}

.decision__title {
	opacity: 0;
	transform: translateX(-500px);
	transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Текст */
.decision__text {
	opacity: 0;
	transform: translateX(-500px);
	transition: opacity 1s ease-out, transform 1s ease-out; /* Затримка для плавності */
}

.decision__img {
	position: relative;
	display: block;
	overflow: hidden;
	height: auto;
	opacity: 1;
	clip-path: inset(0 0 0 100%);
	transition: opacity 1.5s ease-out, clip-path 1.5s ease-out;
}

.image-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	background-size: cover;
	background-position: center;
	transform: translate(-50%, -50%);
	transition: transform 0.1s ease-out;
	will-change: transform;
}

.visible-img {
	opacity: 1;
	clip-path: inset(0 0 0 0);
}

/* Коли заголовок в полі зору */
.visible-title {
	opacity: 1;
	transform: translateX(0);
}

/* Коли текст в полі зору */
.visible-text {
	opacity: 1;
	transform: translateX(0);
}

.title {
	color: #dcc27c;
	font-family: 'Montserrat';
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: normal;
}

.page-text {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%; /* 26px */
	text-indent: 250px;
	max-inline-size: 700px;
}

.page-text span {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 500;
	line-height: 130%;
}

.history__inner {
	padding: 150px 0 175px;
}
.history__title {
	margin-bottom: 100px;
	margin-left: 150px;
	transform: translateX(-500px);
}

.history__info-text {
	text-indent: 140px;
	opacity: 0;
}

.history__info {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 100px;
}

/* Початковий стан: приховуємо всі елементи */
.history__title,
.history__info-text {
	opacity: 0;
	transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Лівий текст */
.history__info-text--left {
	transform: translateX(-500px);
}

/* Правий текст */
.history__info-text--right {
	transform: translateX(500px);
}

/* Коли елемент у полі зору */
.visible-title,
.visible-left,
.visible-right {
	opacity: 1;
	transform: translateY(0);
}
/* Початковий стан: текст невидимий і обрізаний знизу */
.history__info-text--center {
	opacity: 0;
	transform: translateY(100px); /* Зміщуємо вниз */
	max-height: 0; /* Робимо блок схованим */
	overflow: hidden; /* Ховаємо вихідний текст */
	transition: max-height 1s ease-out, opacity 1s ease-out,
		transform 0.5s ease-out;
}

/* Коли елемент у полі зору */
.visible-center {
	opacity: 1;
	transform: translateY(0);
	max-height: 500px; /* Відкриваємо блок (підбираємо значення під контент) */
}

.slider {
}

.nowadays,
.challenge{
	position: relative;
	min-height: 100vh;
}

.nowadays__wrapper {
	position: relative;
	overflow: hidden;
	width: 100%; /* Для забезпечення розтягування на всю ширину */
}

.nowadays-bg {
	position: absolute; /* Залишаємо фон на місці при скролі */
	top: -100%;
	left: 0;
	width: 100%;
	height: 125%;
	object-fit: cover; /* Для правильного масштабування фону */
	z-index: -1; /* Фон на задньому плані */
	transition: opacity 0.3s ease-out;
}
.next-btn {
	margin-top: 20px;
	position: relative;
	color: #b3b3b3;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%; /* 20.8px */
	padding-right: 25px;
	display: block;
}

.next__wrapper {
	display: flex;
	justify-content: end;
}

.next-btn::after {
	content: '';
	position: absolute;
	background-image: url('../images/next-arrow.svg');
	background-repeat: no-repeat;
	width: 14px;
	height: 12px;
	right: 0;
	top: 5px;
}
.prev-btn::before {
	content: '';
	position: absolute;
	background-image: url('../images/prev-arrow.svg');
	background-repeat: no-repeat;
	width: 14px;
	height: 12px;
	left: 0;
	top: 4px;
}

.prev-btn {
	margin-top: 30px;
	position: relative;
	padding-left: 25px;
	color: #4c4c4c;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%; /* 20.8px */
}

.nowadays {
	background: linear-gradient(180deg, rgba(78, 78, 78, 0.6) 0%, #353535 100%);
}

.nowadays p,
.nowadays span {
	color: #fff;
}

.nowadays__top {
	display: flex;
	align-items: start;
	gap: 330px;
	margin-bottom: 50px;
}

.nowadays__top {
	overflow: hidden; /* Ховає вихідний текст */
	position: relative;
}

/* Початковий стан: маленьке коло */
/* Початковий стан картинки — маленьке коло */
.nowadays__img img {
	border-radius: 15px;
}
.nowadays__img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	max-width: 500px; /* або розмір, який тобі потрібен */
	margin: 0 auto; /* Центрування */
	border-radius: 50%; /* Початковий стан — круг */
	clip-path: circle(0%); /* Обрізка до нуля */
	transition: clip-path 1s ease-out, border-radius 1s ease-out;
	border-radius: 15px;
}

/* Анімація появи картинки */
.visible-now-img {
	clip-path: circle(110%);
	border-radius: 0;
}

/* Заголовок — анімація згори */
.nowadays__title {
	opacity: 0;
	transform: translateX(-100px); /* Зсув вгору */
	transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Загальні стилі для тексту — спочатку приховані */
.nowadays__text {
	opacity: 0;
	transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Верхній текст — знизу вгору */
.nowadays__text--top {
	transform: translateY(100px); /* Зсув знизу */
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s ease-out;
}

/* Лівий текст — зліва направо */
.nowadays__text--left {
	transform: translateX(-1000px); /* Зсув зліва */
	transition: transform 1s ease-out, opacity 1s ease-out;
}

/* Правий текст — справа наліво */
.nowadays__text--right {
	transform: translateX(1000px); /* Зсув справа */
	transition: transform 1s ease-out, opacity 1s ease-out;
}

/* Видимий стан — з'являється і "виїжджає" */
.visible-title {
	opacity: 1;
	transform: translateY(0);
}

.visible-text {
	opacity: 1;
	transform: translateY(0);
}

.visible-left {
	opacity: 1;
	transform: translateX(0);
}

.visible-right {
	opacity: 1;
	transform: translateX(0);
}

.nowadays__content {
	padding: 150px 0 175px;
}

.challenge__content {
	padding: 150px 0;
}

.nowadays__info {
	margin-top: 60px;
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.nowadays__info p:nth-child(2) {
	text-indent: 0;
}

.challenge__title {
	color: #000;
	margin-bottom: 100px;
}
.challenge__top {
	display: flex;
	justify-content: space-between;
}

.challenge__top > .challenge__text {
	margin-bottom: 100px;
}

.challenge__info p + p {
	margin-top: 15px;
}
.challenge__bottom {
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 175px;
}

.challenge__img {
	border-radius: 20px;
}

.challenge__info > .challenge__text {
	max-inline-size: none;
}

.challenge__info p:nth-child(2) {
	text-indent: 0;
}

.statistics {
	padding: 100px 0;
	color: #000;
	background: linear-gradient(180deg, #f7f7f6 0%, #f2f1ef 100%);
}

.statistics__items {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}
.statistics__item {
	text-align: center;
}
.statistics__num {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 300;
	line-height: 140%; /* 56px */
}
.statistics__text {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 130%; /* 26px */
}
.statistics__descr {
	text-align: center;
	width: 440px;
	color: #dcc27c;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-style: italic;
	font-weight: 400;
	line-height: 130%;
	padding-bottom: 15px;
	margin: 0 auto;
	position: relative;
	overflow: hidden; /* Приховуємо бордер до анімації */
}

/* Псевдоелемент для бордеру */
.statistics__descr::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0; /* Початковий розмір 0 */
	height: 1px;
	background-color: #000;
	transform: translateX(-50%); /* Центруємо бордер */
	transition: width 1s ease; /* Тільки ширина анімується */
}

/* Коли додається клас visible */
.statistics__descr.visible::before {
	width: 100%; /* Ширина на 100% */
}

.statistics__item-info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.statistics__tilde {
	display: inline-block;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 300;
	line-height: 140%; /* 56px */
	transition: transform 1s;
	margin-right: 5px;
}

.rotate-tilde {
	transform: rotate(720deg);
}

.process {
	padding: 150px 0;
	background: #fff;
}

.process__inner {
	gap: 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.process__left {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 760px;
}
.process__title {
	margin-bottom: 100px;
	text-align: center;
}

.process__text {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%; /* 24px */
	margin-bottom: 50px;
	text-indent: 145px;
}

.process__btn {
	position: relative;
	display: inline-block;
	color: #161515;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	padding: 16px 32px;
	background: transparent;
	border-radius: 4px;
	transition: background 0.3s;
	overflow: hidden;
}

/* Приховуємо SVG, доки не буде запущена анімація */
.btn-border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	stroke-dasharray: 600; /* Довжина контуру */
	stroke-dashoffset: 500; /* Початковий стан - невидимий бордер */
	transition: stroke-dashoffset 2s ease-in-out;
}

/* Додаємо клас "active" при скролі - бордер починає малюватися */
.process__btn.active .btn-border {
	stroke-dashoffset: 0;
}

.process__btn:hover {
	background: #ececec;
}
.process__btn:active {
	background: #ddd;
}

.process__accordion {
	padding-top: 165px;
	max-width: 915px;
}

.process__tab {
	padding: 20px 0;
	border-bottom: 1px solid #b4abab;
	cursor: po 'Montserrat', sans-serif;
	position: relative;
	cursor: s-resize;
	width: 100%;
	opacity: 0;
}
.process__tab {
	opacity: 0; /* Спочатку приховані */
	transition: opacity 0.8s ease-out, transform 0.8s ease-out,
		filter 0.8s ease-out;
}

/* Додаємо клас active при скролі */
.process__tab.active {
	opacity: 1;
}

/* Затримка появи для кожного пункту */
.process__tab:nth-child(1) {
	transition-delay: 0.1s;
}
.process__tab:nth-child(2) {
	transition-delay: 0.2s;
}
.process__tab:nth-child(3) {
	transition-delay: 0.3s;
}
.process__tab:nth-child(4) {
	transition-delay: 0.4s;
}
.process__tab:nth-child(5) {
	transition-delay: 0.5s;
}
.process__tab:nth-child(6) {
	transition-delay: 0.6s;
}

.process__tab.visible {
	opacity: 1;
}

.process__tab:first-child {
	border-top: 1px solid #b4abab;
}

.process__tab-text {
	position: relative;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
}

.process__tab-text::after {
	content: '';
	position: absolute;
	background-image: url('../images/tab-arrow.svg');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.3s ease;
}

.process__content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	color: #131111;
	transition: all 0.5s;
}

.process__tab.active .process__content {
	opacity: 1;
	overflow: visible;
	padding-top: 10px;
}

.process__content p {
	margin: 0;
	padding-bottom: 10px;
}

.process__tab.active .process__tab-text::after {
	transform: translateY(-50%) rotate(-90deg);
}

/* Стилі для плавної появи */
.process__title,
.process__text,
.process__btn-wrapper {
	opacity: 0;
	transform: translateX(
		-500px
	); /* Зміщення тайтлу зліва, а тексту та кнопки знизу */
	transition: all 0.8s ease; /* Плавна анімація */
}

.process__title {
	transition-delay: 0.3s; /* Тайтл з'являється трохи пізніше */
}

.process__text {
	transition-delay: 0.5s; /* Текст з'являється після тайтлу */
}

.process__btn-wrapper {
	transition-delay: 0.7s; /* Кнопка з'являється останньою */
}

/* Анімація для видимості при прокрутці */
.process.show .process__title {
	opacity: 1;
	transform: translateX(0);
}

.process.show .process__text {
	opacity: 1;
	transform: translateY(0);
}

.process.show .process__btn-wrapper {
	opacity: 1;
	transform: translateY(0);
}

.about {
	padding: 150px 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, #000 100%);
}

/* Базові стилі для контейнера */
.about__img-wrapper {
	min-width: 605px;
	height: 400px;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
}

.about__img {
	height: 400px;
	border-radius: 15px;
	object-fit: cover; /* Зберігає пропорції зображення */
	margin-bottom: 15px;
}

/* Ефект зуму при наведенні */
.about__img-wrapper:hover .about__img {
	transform: scale(1.1); /* Масштабування картинки на 20% */
}

.about__wrapper {
	position: relative;
	overflow: hidden;
	width: 100%; /* Для забезпечення розтягування на всю ширину */
}

.about-bg {
	position: absolute; /* Залишаємо фон на місці при скролі */
	top: -100%;
	left: 0;
	width: 100%;
	object-fit: cover; /* Для правильного масштабування фону */
	z-index: -1; /* Фон на задньому плані */
	transition: opacity 0.3s ease-out;
}

.about__title {
	margin-bottom: 100px;
	margin-left: 150px;
}

.about__item + .about__item {
	margin-top: 70px;
}
.about__item {
	display: flex;
	align-items: center;
	gap: 175px;
}

.about__content-title {
	color: #fff;
	font-family: 'Montserrat';
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 48px */
	margin-bottom: 15px;
}
.about__content-text {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%; /* 28.8px */
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;
}

.about__item {
	display: flex;
	align-items: center;
	transition: all 0.5s;
}

/* Коли активний, плавно проявляється */
.about__item.active {
	opacity: 1;
}

/* Контейнер для зображення */
.about__img-wrapper {
	position: relative;
	overflow: hidden;
}

/* Початковий стан — зображення приховане з боків */
.about__img {
	width: 100%;
	clip-path: inset(0 50% 0 50%);
	transition: transform 0.5s ease-in-out, clip-path 1s ease-out;
}

/* Текст справа */
.about__content {
	transform: translateX(100%);
	opacity: 0;
	transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Коли з’являється */
.about__item.active .about__img {
	clip-path: inset(0 0 0 0);
}

.about__item.active .about__content {
	opacity: 1;
	transform: translateX(0);
}

/* Затримка для плавності */
.about__item:nth-child(1) {
	transition-delay: 0.2s;
}
.about__item:nth-child(2) {
	transition-delay: 0.4s;
}
.about__item:nth-child(3) {
	transition-delay: 0.6s;
}
.about__item:nth-child(4) {
	transition-delay: 0.8s;
}
.about__title {
  opacity: 0;
  transform: translateX(-500px); /* Зміщення вліво */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Коли активний */
.about__title.active {
  opacity: 1;
  transform: translateX(0);
}
.safety {
	padding: 200px 0;
}

.safety__blockquote {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 300;
	line-height: 140%; /* 56px */
	max-width: 1100px;
	text-align: center;
	margin: 0 auto;
}

.safety__blockquote span {
	color: #dcc27c;
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-style: italic;
	font-weight: 400;
	line-height: 140%;
}

.safety {
  perspective: 1000px; /* Додаємо перспективу для 3D ефектів */
  overflow: hidden;
}

@keyframes borderMove {
  0% {
    border-image-source: linear-gradient(90deg, #000 0%, #dcc27c 100%);
    border-image-slice: 1;
  }
  25% {
    border-image-source: linear-gradient(180deg, #000 0%, #dcc27c 100%);
  }
  50% {
    border-image-source: linear-gradient(270deg, #000 0%, #dcc27c 100%);
  }
  75% {
    border-image-source: linear-gradient(360deg, #000 0%, #dcc27c 100%);
  }
  100% {
    border-image-source: linear-gradient(90deg, #000 0%, #dcc27c 100%);
  }
}

.safety__blockquote {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding: 50px;
  color: #000;
  text-align: center;
  transform: translateZ(0);
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #000 0%, transparent 100%);
  animation: borderMove 4s linear infinite;
  box-sizing: border-box;
}








.footer__wrapper {
	background-image: url('../images/footer-bg.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.footer {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, #000 100%);
	padding: 150px 0;
}
.footer__info-text span {
	font-style: italic;
	color: #fff;
}
.footer__title {
	margin: 0 0 100px 110px;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
}

.footer__info-text {
	color: #fff;
}
.footer__info-text:first-child {
	text-indent: 110px;
	margin-bottom: 15px;
}
.footer__info-text:nth-child(2) {
	text-indent: 0;
}

.footer__form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 605px;
}
.footer__input {
	display: block;
	color: #dedada;
	font-family: 'Montserrat';
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%; /* 24px */
	background: transparent;
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
	text-align: center;
}
.footer__input::placeholder {
	color: #dedada;
	font-family: 'Montserrat';
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%; /* 24px */
	text-align: center;
}
.footer__btn {
	display: block;
	color: #fff;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 24px */
	padding: 16px 32px;
	transition: all 0.3s;
	border: 1px solid #fff;
}

.footer__btn-wrapper {
	margin: 0 auto;
	text-align: center;
}

.footer__btn:hover {
	color: #000;
	background: #fff;
}

.flatpickr-calendar {
	transform: translate(50%) !important;
}

.flatpickr-calendar::before,
.flatpickr-calendar:after {
	display: none;
}




.footer__title {
  transform: translateX(-500px); /* Виїжджає зліва */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.footer__info-text {
  transform: translateX(-110%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.footer__form {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Коли футер активний */
.footer.active,
.footer__title.active,
.footer__info-text.active,
.footer__form.active {
  opacity: 1;
  transform: translate(0);
}


/* Затримки для поступової появи */
.footer__info-text:nth-child(1) { transition-delay: 0.2s; }
.footer__info-text:nth-child(2) { transition-delay: 0.4s; }
.footer__form { transition-delay: 0.3s; }
